
.principal {
    width: 100 vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    
    
}
body{
    background-color: #000000;
    color: #F6F6F6;
}
.texto-destacado{
    color: yellow;
    
}
.titulo-blog{
    color: green;
}
.urgente{
    color: red;
}
strong{
    color: #22D4FD;
}

.imagen{
    width: 40%;
    margin: 20px;
}