@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
     /* padding: 0;
    margin: 0; */
    
}
body{
        /*height: 100vh; */
        box-sizing: border-box;
        background-color: #000000;
        color: #F6F6F6;
        
    }
.header{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 0% 5%;
    

}
.header__nav{
    display: flex;
    gap: 60px;
    width: 100vw;
    
    
}
a{
    text-decoration: none;
}
.header__nav__link{
    display: flex;
    width: fit-content;
    height: 29px;    
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 80px;    
    color: #22D4FD;
    
  
    
    
}

.header__nav__link:hover{

    color: #F6F6F6;
    cursor: pointer;
}
.principal {
    
    
    /*margin: 10% 15%;*/
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.principal__contenido{
    
    align-items: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 40px;  
    
}
body{
    background-color: #000000;
    color: #F6F6F6;
}
.principal__contenido__texto{
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;    
    text-align: left;   
}
.principal__contenido__titulo{
    color: #F6F6F6;
    font-family: Krona One;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: left;
}

.principal__contenido__subtitulo{
    
    display: flex;
    font-family: "Krona one";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: center;
    width: 320px;
    height: 40px;
    gap: 0px;

}
.principal__contenido__botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center;
    padding: 32px;
    width: 381px;
    height: fit-content;
    top: 627px;
    left: 461px;
    gap: 32px;
    opacity: 0px;
}

.botondered{
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    gap: 16px;    
    padding: 16px;
    width: 378px;
    height: 68px;     
    align-content:space-around;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-decoration: none;   
    color: #F6F6F6;
    border-radius: 8px ;
    border: 2px solid #22D4FD;
    
    
}
.botondered:hover {
    background-color: #22D4FD;
    color: black;
    border: 2px solid #22D4FD;

}
.logored{
    width: 32px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    

}
strong{
    color: #22D4FD;
}

.imagen{
    
    margin: 20px;
    width: 50%;
    height: 50%;
}
.footer {
    background-color: #22D4FD;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}   

.footer__text{
  
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: center;
    color: #000000;


}